@font-face {
    font-family: 'Agrandir';
    src: url('fonts/Agrandir/Agrandir-GrandHeavy.otf');
    font-display: swap
}
body{
    font-family: 'Jost';
}

#main_cover {
    background-color: #32594a;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page-title{
    font-family: Agrandir;
    color: #fff5e1;
}

#index-page-body {
    margin: 0;
    padding: 0;
    background-color: #fff5e1;
    display: flex;
    justify-content: center;
}
#modifyIngredients-body{
    margin:0;
}

#cover_logo {
    height: auto;
    width: 60%;
}

#upload_button_container {
    border-radius: 50%;
    border: 4px solid #fff5e1;
    background-color: #32594A;
    z-index: 10;
    height: 7vw;
    width: 7vw;
    position: absolute;
    top: 88%;
}

#image_preview {
    position: absolute;
    width: 50%;
    height: 50%;
    background-position: center;
    background-size:contain ;
    background-repeat: no-repeat;
    margin-top: 20vh;
    margin-left: 62vh;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50vw;
}

#input-form-container {
    background-color: #fff5e1;
    width: 85%;
    height: auto;
    margin: 5%;
    padding: 2%;

}
label {
    color: #32594a;
}

.form-subheadings{
    color: #32594A;
}

p{
    color: #32594A;
}

#NextBtn {
    background-color: #32594A;
    color: #fff5e1;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none; 
    margin-left: 10vw;
}

